@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
html {
  color-scheme: dark;
}
body {
  color: #eee;
  font-size: 1.125rem;
  font-family: system-ui;
  line-height: 1.5;
}
.wrapper {
  width: min(1200px, 100% - 3rem);
  margin-inline: auto;
  margin-block: 1rem;
}
table {
  width: 100%;
  background: #323232;
  border-collapse: separate;
  white-space: normal;
  text-align: start;
  border-spacing: 0px!important;
  font-variant: normal;
}

label input {
  width: 100%;
  margin-block: 2rem;
}

th:first-of-type {
  width:300px;
}
th,
td {
  padding: 1rem 0;

}
.delete{
  padding-right:0;
}

th {
  text-align: left;
  background:hsl(0 0% 0% /0.5)
}
tr:nth-of-type(2n){
    background:hsl(0 0% 0% /0.1)
}

input[type="text"]{
    padding: 0.5rem;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 6px;
    transition: all 0.1s;
    font-size: 20px;
    outline:none;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }
  ::-webkit-input-placeholder { color: #666;}
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

input[type="checkbox"] {
    position: relative;
    border: 2px solid white;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6rem;
    outline: 0;
    padding: 0.5rem !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: 0.5;
  }
  input[type="checkbox"]:checked {
    background-color: #eee;
    opacity: 1;
  }
  input[type="checkbox"]:hover {
    opacity: 1;
  }

  input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
  color: #c8d0d9;
}

div{
    overflow:auto;
}

@media (max-width: 750px) {
    th{
        display:none;
    }
    td{
        display:block;
        padding:0.5rem 1rem;


    }
    td::before{
        content:attr(data-cell) " : ";
        font-weigh:700;
        text-transform :capitalize;
    }
    td[data-cell="input__checkbox"]::before{
        content:"Checkbox :"
    }
    td {
        display: grid;
        grid-template-columns: 10em auto;
        grid-gap: 1em 0.5em;
      }
      td:first-child{
        padding-top:2rem;
      }
      td:last-child{
        padding-bottom: 2rem;
      }
      .pagination{
        flex-direction:column;
      }

.btn-All{
    margin-inline:2.5rem;
}
ul li.paginations {
    padding:0 0.5rem;
}

}
.btn-All {
    width: 12.5rem;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 20%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #323232;
    text-align:center;

  }
  .text {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align:center;
  }
  .pagination {
    display:flex;
    margin-top:2rem;
  }
  ul{
    position:relative;
    display:flex;
    border-radius:50px;
    bottom:25%;
  }
  ul li {
    list-style:none;
    line-height:40px;

  }
ul li{
    width:100px;
    text-align:center;
}
ul li a {
    display:block;
     text-decoration:none;
}
.paginations{
    shape-outside: circle();
    clip-path: circle();
    background:white;
    color:black;
}
ul li.paginations:hover a{
    background:#333;
    color:white;
}